.rambla-regular {
  font-family: "Rambla", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.rambla-bold {
  font-family: "Rambla", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.rambla-regular-italic {
  font-family: "Rambla", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.rambla-bold-italic {
  font-family: "Rambla", sans-serif;
  font-weight: 700;
  font-style: italic;
}


.amaranth-regular {
  font-family: "Amaranth", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.amaranth-bold {
  font-family: "Amaranth", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.amaranth-regular-italic {
  font-family: "Amaranth", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.amaranth-bold-italic {
  font-family: "Amaranth", sans-serif;
  font-weight: 700;
  font-style: italic;
}


.gafata-regular {
  font-family: "Gafata", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.gurajada-regular {
  font-family: "Gurajada", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.belleza-regular {
  font-family: "Belleza", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.arya-regular {
  font-family: "Arya", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.arya-bold {
  font-family: "Arya", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.italiana-regular {
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.caudex-regular {
  font-family: "Caudex", serif;
  font-weight: 400;
  font-style: normal;
}

.caudex-bold {
  font-family: "Caudex", serif;
  font-weight: 700;
  font-style: normal;
}

.caudex-regular-italic {
  font-family: "Caudex", serif;
  font-weight: 400;
  font-style: italic;
}

.caudex-bold-italic {
  font-family: "Caudex", serif;
  font-weight: 700;
  font-style: italic;
}

.aref-ruqaa-regular {
  font-family: "Aref Ruqaa", serif;
  font-weight: 400;
  font-style: normal;
}

.aref-ruqaa-bold {
  font-family: "Aref Ruqaa", serif;
  font-weight: 700;
  font-style: normal;
}

.aref-ruqaa-ink-regular {
  font-family: "Aref Ruqaa Ink", serif;
  font-weight: 400;
  font-style: normal;
}

.aref-ruqaa-ink-bold {
  font-family: "Aref Ruqaa Ink", serif;
  font-weight: 700;
  font-style: normal;
}

.quattrocento-regular {
  font-family: "Quattrocento", serif;
  font-weight: 400;
  font-style: normal;
}

.quattrocento-bold {
  font-family: "Quattrocento", serif;
  font-weight: 700;
  font-style: normal;
}

.buda-light {
  font-family: "Buda", serif;
  font-weight: 300;
  font-style: normal;
}

.junge-regular {
  font-family: "Junge", cursive;
  font-weight: 400;
  font-style: normal;
}
