/* style the nav bar & theme changer */
    nav, .theme-menu {
        width: calc(100% - var(--standard-padding));
        background: var(--nav-background-primary-color);
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: calc(var(--standard-padding)/2);
        z-index: 99;
        position: fixed;
    }

    .theme-menu {
        bottom: 0;
        z-index: 98;
        justify-content: flex-start;
        gap: calc(var(--standard-padding)/2); 
    }

    .navbar-toggler {
        height: 100%;
        aspect-ratio: 1;
    }

    .navbar-toggler:focus {
        text-decoration: none;
        /* box-shadow: 0 0 0px 0.1rem; */
        border: 0.5rem dotted var(--accentColor);
        /* stroke-dasharray: 1,6;
        stroke-linecap: round; */
        border-radius: calc(50% * var(--cornerCutEnlarger));
        corner-shape: var(--cornerType);
        aspect-ratio: 1;
    }

    .navbar-toggler-icon {
        fill: var(--mainTextColor);
        stroke: var(--mainTextColor);
        stroke-width: 1px;
        height: 90%;
        aspect-ratio: 1;
}

/* hide the checkbox for theme selector and dropdown */
    #mobile-menu-trigger, #theme-menu-trigger { display: none; } 

/*hide the "page-theme" radio buttons */
    input[name="page-theme"] { display: none; }

/*STYLE theme BUTTONS & EFFECT*/
    label.theme-label { 
        display: inline-block;
        cursor: pointer;
    }

input#dark-theme:checked ~ main label[for=dark-theme], 
input#light-theme:checked ~ main label[for=light-theme] {
    font-weight: bold;
    background-color: var(--accentColor);
    border: 1px solid var(--primeColor-light);
    box-shadow: 0 0 5px 0 var(--accentColor-bright);
}
input#dark-theme:checked ~ main label[for=light-theme], 
input#light-theme:checked ~ main label[for=dark-theme] {
    font-weight: bold;
    opacity: 75%;
}

input#dark-theme:checked ~ main label[for=dark-theme], 
input#dark-theme:checked ~ main label[for=light-theme] { 
    color: var(--neutralPlainColor);
}

input#light-theme:checked ~ main label[for=light-theme], 
input#light-theme:checked ~ main label[for=dark-theme] { 
    color: var(--neutralRiseWarmColor);
}

/* hide & reveal menu lists */
    nav ul { display: none; } 
    nav input:checked ~ ul {display: block;}

.bi-arrow-bar-down, .bi-sun-fill, .bi-moon-stars-fill { /*set size of theme-toggle icons*/
    width: 1em;
    height: 1em;
}

/*navigation and link style overrides*/
.navbar-nav {
    align-items: center;
}

.navbar-brand { 
    font-family: "Belleza", sans-serif; 
    font-weight: 600;
    padding-right: 2rem !important;
}

.nav-link { 
    font-family: "Gafata", sans-serif; 
    font-weight: 400;
}

.nav-link, .navbar-brand { 
    font-size: 1.3rem; 
    color: var(--primeColor);
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    transition: all .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color:  var(--mainTextColor);
}

.navbar-brand:focus, .navbar-brand:hover, .nav-link:focus, .nav-link:hover  {
    color: var(--accentColor);
    font-weight: 600;
}

a:hover {
    color: var(--accentColor);
}