html {
    accent-color: green; /changes form stuff!*/
    color-scheme: light dark; /*allows user preference*/
}

p {
    font-size: 3em;
}

.top {
    top:0;
    height: 45%;
    align-items: end;
}

.bottom {
    bottom: 0;
    height: 10%;
}

.animation {
    animation-timeline: ;
}

/* overscroll-behaviour: contain; CAREFUL when viewport significant part of screen - cant get to rest of page on mobile*/

textarea {
    caret-color: blue; /* look into relative color */
    caret-shape: block; /*bar = default, also have: block, underscore */
kevin powell youtube - css info
}


.subject { width: 300px; height: 200px; background-color: deeppink; } .content { width: 75%; max-width: 800px; margin: 0 auto; } p { font-size: 1.5rem; line-height: 1.8; } .subject-container { border: 2px dashed black; width: 300px; margin: 0 auto; } .overlay { position: fixed; width: 100%; background-color: #f5deb3aa; display: flex; font-size: 1.2rem; font-weight: bold; color: red; justify-content: flex-end; } .top { top: 0; height: 45%; align-items: end; } .bottom { bottom: 0; height: 10%; } .animation { animation-timeline: view(block); animation-name: grow; animation-duration: 1ms; /* Firefox requires this to apply the animation */ animation-timing-function: linear; } @keyframes grow { from { transform: scaleX(0); } to { transform: scaleX(1); } }