* {
    /* border: 1px, solid, blue; */
    text-align: center;
}

h1, h2, h3, h4, h5, h6, .logo-text {font-family: "Belleza", sans-serif; font-weight: 600;}

p, button {font-family: "Gafata", sans-serif;}

button {border-width: 0;}

