/* * {
    border: 1px, solid, blue;
} */
button {border-width: 0;}
.test01, .test02, .test03, .test04, .test05, .test06 { text-align: center; }

.test h1, .test button {font-family: "Belleza", sans-serif; font-weight: 600;}

/* .test01 h1 {font-family: "Gafata", sans-serif; font-weight: 600;} 
.test02 h1 {font-family: "Gurajada", sans-serif;  font-size: 4rem; font-weight: 100;}
.test03 h1 {font-family: "Belleza", sans-serif;}
.test04 h1 {font-family: "Aref Ruqaa", sans-serif;}
.test05 h1 {font-family: "Ysabeau Infant", sans-serif; font-weight: 100;}
.test06 h1 {font-family: "Ysabeau", sans-serif; } */

/* approved header/body combo Round 1
    Belleza / Molengo
    Belleza / Rambla
    Belleza / Gafata
    Belleza / Belleza
    Belleza / Quattrocento
    Belleza / Ysabeau
    Gafata @ 600 / Rambla
    Gafata @ 600 / Gafata
    Gafata @ 600 / Belleza
    Gafata @ 600 / Quattrocento
    Gafata @ 600 / Ysabeau
    Aref Ruqaa / Ysabeau Infant
*/

/* approved header/body combo Round 2
    Belleza / Molengo
    ** Belleza / Gafata
    Belleza / Belleza
    Belleza / Quattrocento
    * Belleza / Ysabeau
    Gafata @ 600 / Molengo
    Gafata @ 600 / Rambla
    * Gafata @ 600 / Gafata
    * Gafata @ 600 / Belleza
    Gafata @ 600 / Quattrocento
    Gafata @ 600 / Ysabeau
    Aref Ruqaa / Ysabeau Infant
	
	xAref Ruqaa
	Belleza 
	Gafata
	Molengo
	Quattrocento
	Rambla
	Ysabeau
	Ysabeau Infant
	
	consider el messiri, philosopher, Smythe, Alice as header options?
	
	CAT Linz, effloresce, Lora, noto serif, unna

*/

/*
SVG Script shortlist
	Cookie
	Italianno
	Fleur De Leah
	MonteCarlo
	Waterfall
	WindSong
	Birthstone
*/

.test01 p {font-family: "Molengo", sans-serif;}
.test02 p {font-family: "Rambla", sans-serif;}
.test03 p {font-family: "Gafata", sans-serif;}
.test04 p {font-family: "Belleza", sans-serif;}
.test05 p {font-family: "Quattrocento", sans-serif;}
.test06 p {font-family: "Ysabeau", sans-serif;} 


/* .test01 button {font-family: "Gafata", sans-serif;}
.test02 button {font-family: "Gurajada", sans-serif;   font-size:x-large;}
.test03 button {font-family: "Belleza", sans-serif;}
.test04 button {font-family: "Aref Ruqaa", sans-serif;} 
.test05 button {font-family: "Ysabeau Infant", sans-serif; font-weight: 100;}
.test06 button {font-family: "Ysabeau", sans-serif; font-weight: 200;} */

/* possible title font 
    Gafata
    Belleza
    Aref Ruqaa
    Ysabeau Infant
    Ysabeau
*/

/* possible body font 
    Molengo (a bit plain, but easy to read)
    Rambla
    Gafata
    Gurajada @ xL or so size
    Belleza
    Arya (a bit plain)
    Quattrocento - serif
    Ysabeau Infant - simple a
    Ysabeau - old timey a 
*/




/* Remove Fonts
    Andika
    Amaranth
    Italiana
    Caudex
    Junge
    Buda
    source sans 3
*/