:root { 
    --animation-speed-multiplier: 0.5;

    /*rough manually determined timings*/
    --animation-time-M: 2s;
    --animation-time-ariah: 3s;
    --animation-time-dot: 0.5s;
    --animation-time-Rline: 0.5s;
    --animation-time-Rbody: 1.5s;
    --animation-time-owan: 2s;
    --animation-time-q: 0.1s;
    --animation-time-al: 0.5s;
    --animation-time-czewska: 3s;
    --animation-gaps-M-ariah: 0.1s;
    --animation-gaps-ariah-dot: -0.4s;
    --animation-gaps-dot-Rline: 0s;
    --animation-gaps-Rline-Rbody: -0.1s;
    --animation-gaps-Rbody-owan: -0.05s;
    --animation-gaps-owan-q1: 0.05s;
    --animation-gaps-q-q: 0.1s;
    --animation-gaps-q-M: 0s;
    --animation-gaps-M-al: -0.1s;
    --animation-gaps-al-czewska: 0.1s;

    /*sped up animating time for indiv segments*/
    --animation-mtime-M:        calc( var(--animation-speed-multiplier) * var(--animation-time-M) );
    --animation-mtime-ariah:    calc( var(--animation-speed-multiplier) * var(--animation-time-ariah) );
    --animation-mtime-dot:      calc( var(--animation-speed-multiplier) * var(--animation-time-dot) );
    --animation-mtime-Rline:    calc( var(--animation-speed-multiplier) * var(--animation-time-Rline) );
    --animation-mtime-Rbody:    calc( var(--animation-speed-multiplier) * var(--animation-time-Rbody) );
    --animation-mtime-owan:     calc( var(--animation-speed-multiplier) * var(--animation-time-owan) );
    --animation-mtime-q:        calc( var(--animation-speed-multiplier) * var(--animation-time-q) );
    --animation-mtime-al:       calc( var(--animation-speed-multiplier) * var(--animation-time-al) );
    --animation-mtime-czewska:  calc( var(--animation-speed-multiplier) * var(--animation-time-czewska) );

    /* Cumulative sum of animation time and gaps, sped up */
    --animation-delay-M1: 0s;
    --animation-delay-ariah:    calc( var(--animation-delay-M1)    + var(--animation-speed-multiplier) * ( var(--animation-time-M)       + var(--animation-gaps-M-ariah) ) );
    --animation-delay-dot:      calc( var(--animation-delay-ariah) + var(--animation-speed-multiplier) * ( var(--animation-time-ariah)   + var(--animation-gaps-ariah-dot) ) );
    --animation-delay-Rline:    calc( var(--animation-delay-dot)   + var(--animation-speed-multiplier) * ( var(--animation-time-dot)     + var(--animation-gaps-dot-Rline) ) );
    --animation-delay-Rbody:    calc( var(--animation-delay-Rline) + var(--animation-speed-multiplier) * ( var(--animation-time-Rline)   + var(--animation-gaps-Rline-Rbody) ) );
    --animation-delay-owan:     calc( var(--animation-delay-Rbody) + var(--animation-speed-multiplier) * ( var(--animation-time-Rbody)   + var(--animation-gaps-Rbody-owan) ) );
    --animation-delay-qA:       calc( var(--animation-delay-owan)  + var(--animation-speed-multiplier) * ( var(--animation-time-owan)    + var(--animation-gaps-owan-q1) ) );
    --animation-delay-qB:       calc( var(--animation-delay-qA)    + var(--animation-speed-multiplier) * ( var(--animation-time-q)       + var(--animation-gaps-q-q) ) );
    --animation-delay-qC:       calc( var(--animation-delay-qB)    + var(--animation-speed-multiplier) * ( var(--animation-time-q)       + var(--animation-gaps-q-q) ) );
    --animation-delay-qD:       calc( var(--animation-delay-qC)    + var(--animation-speed-multiplier) * ( var(--animation-time-q)       + var(--animation-gaps-q-q) ) );
    --animation-delay-M2:       calc( var(--animation-delay-qD)    + var(--animation-speed-multiplier) * ( var(--animation-time-q)       + var(--animation-gaps-q-M) ) );
    --animation-delay-al:       calc( var(--animation-delay-M2)    + var(--animation-speed-multiplier) * ( var(--animation-time-M)       + var(--animation-gaps-M-al) ) );
    --animation-delay-czewska:  calc( var(--animation-delay-al)    + var(--animation-speed-multiplier) * ( var(--animation-time-al)      + var(--animation-gaps-al-czewska) ) );
}

.st0, .st1 {
    fill:none;
    stroke-miterlimit:10;

    stroke:#00ADEE;
    stroke-width:3;
    stroke-linecap:round;
    stroke-linejoin:round;
}

.st0 {stroke-width:4}
.st1 {stroke-width:2}


/* calc( 2.5s / var(--animation-speed-multiplier)) */
/* Stroke-animation : by segment, ordered by animation timing */
/*Mariah set*/
    #Mar, #Mal {
        stroke-dasharray: 400; 
        stroke-dashoffset: 400;
        animation: move var(--animation-mtime-M) ease-in-out ;
        animation-fill-mode: forwards;   
    }

    #Mar { animation-delay: var(--animation-delay-M1); }

    #ariah {
        stroke-dasharray: 500; 
        stroke-dashoffset: 500;
        animation: move var(--animation-mtime-ariah) ease-out ;
        animation-fill-mode: forwards;
        animation-delay: var(--animation-delay-ariah);  
    }

    #idot { 
        stroke-dasharray: 15; 
        stroke-dashoffset: 15;
        animation: move var(--animation-mtime-dot) ease-in-out ;
        animation-fill-mode: forwards;
        animation-delay: var(--animation-delay-dot);
    }

    
    #Mal { animation-delay: var(--animation-delay-M2);  }

/* "Rowan set - for final delay add 5.7s" */
    #Rline {
        stroke-dasharray: 100; 
        stroke-dashoffset: 100;
        animation: move var(--animation-mtime-Rline) ease-in-out ;
        animation-fill-mode: forwards;
        animation-delay: var(--animation-delay-Rline);
    }

    #Rbody {
        stroke-dasharray: 320; 
        stroke-dashoffset: 320;
        animation: move var(--animation-mtime-Rbody) ease-in-out ;
        animation-fill-mode: forwards;
        animation-delay: var(--animation-delay-Rbody); 
    }

    #owan {
        stroke-dasharray: 360; 
        stroke-dashoffset: 360;
        animation: move var(--animation-mtime-owan) ease-in-out ;
        animation-fill-mode: forwards;
        animation-delay: var(--animation-delay-owan);
    }

    #q1, #q2, #q3, #q4 {
        stroke-dasharray: 5; 
        stroke-dashoffset: -5;
        animation: move var(--animation-mtime-q) ease-in-out ;
        animation-fill-mode: forwards;
    }

    #q3 { animation-delay: var(--animation-delay-qA); }
    #q4 { animation-delay: var(--animation-delay-qB); }
    #q1 { animation-delay: var(--animation-delay-qC); }
    #q2 { animation-delay: var(--animation-delay-qD); }


/* "Malcz... set - for final delay add 9.9s" */

    #Mal { animation-delay: var(--animation-delay-M2) !important;  }

    #al {
        stroke-dasharray: 220; 
        stroke-dashoffset: 220;
        animation: move var(--animation-mtime-al) ease-in-out ;
        animation-fill-mode: forwards;  
        animation-delay: var(--animation-delay-al);
    }

    #czewska {
        stroke-dasharray: 900; 
        stroke-dashoffset: 900;
        animation: move var(--animation-mtime-czewska) ease-in-out ;
        animation-fill-mode: forwards;
        animation-delay: var(--animation-delay-czewska);
    }

@keyframes move {
    100% {
        stroke-dashoffset: 0;
    }
}





