:root {
	--backgroundColor-light: #eaf0e7;
	--backgroundColor: #d7ddd4;
    --backgroundColor-med: #bdc5b8;

	/* Background Animation timing calculation in variables */
	--animationBG-speed-multiplier: 0.5;
	}

@keyframes rotateIn { 100% { stroke-dashoffset: 0; } } 

.fillCircle {stroke-width: 0; }
.backgroundCircle{ fill: var(--backgroundColor-med); }

.ring {
	fill:transparent;
	stroke: var(--backgroundColor-med);
	stroke-width:10;
	stroke-miterlimit:10;	
	stroke-linecap:round;
    stroke-linejoin:round;
}

.lightRing {
	fill:transparent;
	stroke: var(--backgroundColor-light);
	stroke-width:2;
}

#droplet {
	fill: var(--backgroundColor-light);
	stroke: var(--backgroundColor);
	/* stroke-width: 2; */
}

.centermostCircle{ fill: var(--backgroundColor); }

.behindDotsRingOuter, .thinOnMiddleThickRing, .medDividerRing, .outermostThinRing {
	stroke: var(--backgroundColor-med); 
}
.dotRing, .middleThickRing, .outermostThickRing {
	stroke: var(--backgroundColor); 
}
	
.behindDotsRingOuter { stroke-width:50;}
.dotRing { stroke-width:10; stroke-dasharray:0,15;}

/*sun variant*/
/* .dotRing { stroke-width:50; stroke-dasharray:0.1em,15; 	stroke-linecap: butt;} */

.middleThickRing{ stroke-width:28;}
.thinOnMiddleThickRing{ stroke-width:2; }

.medDividerRing{ stroke-width:6; }

.outermostThickRing{ stroke-width:12; }
.outermostThinRing{ stroke-width:2; }
