:root {
	/*copied from main style sheet as referenced didn't consistently pass into SVG otherwise*/
	--themeNeutral: #efebe4;

    --backgroundColor-xlight: hsl(120, 17%, 98%); /* light olivine */
    --backgroundColor-light: hsl(110, 13%, 92%); /* light olivine */
    --backgroundColor: hsl(100, 12%, 85%); /* lighi: centt olivine */
    --backgroundColor-med: hsl(99, 11%, 83%); /* lighi: centt olivine */
    --backgroundColor-meddark: hsl(97, 10%, 80%); /* light olivine */

	/* --backgroundColor: #e3d9c4;/* #f6edd9; /* #e3d9c4; /* #ebe4df; F6F0EE */
	/* --backgroundColor-light: color-mix(in srgb, var(--themeNeutral) 40%, var(--backgroundColor)); */
	/* --backgroundColor-xlight: color-mix(in srgb, var(--themeNeutral) 50%, var(--backgroundColor-light)); */
    /*efebe4 w e3d, f5f1eb w f6e*/
	
	/* --backgroundColor-med: #bdc5b8; */

	/* --backgroundColor-xlight: #f8faf8; 
	--backgroundColor-light: #eaf0e7;
	--backgroundColor: #d7ddd4;
    --backgroundColor-med: #bdc5b8; */

	/* Background Animation timing calculation in variables */
	/* --animationBG-speed-multiplier: 0.5; */
	--stepDelay: 1s;
	--BGinDelay: 6s;
	}

@keyframes rotateIn { 100% { stroke-dashoffset: 0; } } 

.fillCircle {stroke-width: 0; }
.backgroundCircle{ fill: var(--backgroundColor); }

.ring {
	fill:transparent;
	stroke: var(--backgroundColor);
	stroke-width:10;
	stroke-miterlimit:10;	
	stroke-linecap:round;
    stroke-linejoin:round;

	stroke-dasharray: 360;
	stroke-dashoffset: 180;
}

.lightRing {
	fill:transparent;
	stroke: var(--backgroundColor-xlight);
	stroke-width:2;
}

#droplet {
	fill: var(--backgroundColor-xlight);
	stroke: var(--backgroundColor-light);
	/* stroke-width: 2; */
}

.centermostCircle{ fill: var(--backgroundColor-light); }

.dotRing, .middleThickRing, .outermostThickRing {
	stroke: var(--backgroundColor-light); 
}

.outermostThinRing {
	stroke: var(--backgroundColor); 
}

.behindDotsRingOuter {
	stroke: var(--backgroundColor-med); 
}

.thinOnMiddleThickRing, .medDividerRing {
	stroke: var(--backgroundColor-meddark); 
}
	
.behindDotsRingOuter { stroke-width:52;}
.dotRing { 
	stroke-width:10; 
	stroke-dasharray: 0,360,0,18,0,18,0,18,0,18,0,18,0,18,0,18,0,18,0,18,0,18,0,18,0,18,0,18,0,18;
	stroke-dashoffset: 410;
}

/*sun variant*/
/* .dotRing { stroke-width:20; stroke-dasharray:0.1em,15; 	stroke-linecap: butt;} */

.middleThickRing{ stroke-width:30;}
.thinOnMiddleThickRing{ stroke-width:2; }

.medDividerRing{ stroke-width:6; }

.outermostThickRing{ stroke-width:12; }
.outermostThinRing{ stroke-width:2; }


@keyframes fanInDots { 100% { stroke-dashoffset: 144; } }
@keyframes fanIn { 100% { stroke-dashoffset: 0; } }
@keyframes expandOut { from { r: 0; } to { r: var(--circleRadius)} }
@keyframes colorFade { from {fill: var(--initialColor)} to { fill: var(--finalColor)}
	
}

/*set background 'default' values for animations*/
.fillCircle, .ring {
	animation-duration: 3s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
	animation-iteration-count: 1;
}

.ring { animation-name: fanIn; }

/*animation attributes*/
.backgroundCircle {
	--initialColor: var(--backgroundColor-med);
	--finalColor: var(--backgroundColor-xlight);
	animation-name: colorFade;
	animation-delay: 0s;
}

.centermostCircle {
	--circleRadius: 120;
	animation-name: expandOut;
	animation-delay: calc(0s + var(--BGinDelay));
}

.behindDotsRingOuter { 

	animation-duration: 2s; 
	animation-delay: calc(var(--stepDelay)*1.75 + var(--BGinDelay));
}
.middleThickRing { 
	animation-duration: 2.5s;
	animation-delay: calc(var(--stepDelay)*2 + var(--BGinDelay));
}
.outermostThinRing {  animation-delay: calc(var(--stepDelay)*2.5 + var(--BGinDelay));}
.thinOnMiddleThickRing {  animation-delay: calc(var(--stepDelay)*3 + var(--BGinDelay));}
.medDividerRing {  animation-delay: calc(var(--stepDelay)*3.5 + var(--BGinDelay));}
.outermostThickRing {  animation-delay: calc(var(--stepDelay)*4 + var(--BGinDelay));}
.dotRing { 
	animation-name: fanInDots; 
	animation-delay: calc(var(--stepDelay)*4.5 + var(--BGinDelay));
}

